* {
    box-sizing: border-box;
}

body {
    /* position: fixed; */
    margin: 0;

    text-transform: uppercase;

    font-family: 'PT Sans Narrow', sans-serif;


    margin-left: auto;
    margin-right: auto;
    max-width: 2560px;
    justify-content: center;


}





.mainBody {
    background: url(../img/tint.jpg );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

button {
    cursor: pointer;
    outline: none;

}

/* button:focus {
    background-color: rgb(102, 61, 21);
    outline: none !important
} */

button:hover {
    background-color: rgb(102, 61, 21);
}

.btnHover:hover {
    background-color: rgb(102, 61, 21);
}

li {
    list-style: none;
}




img {
    margin: 0;
    padding: 0;
}



.mainHeader {
    /* box-sizing: border-box; */
    /* position: relative; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    width: auto;
    height: 65px;

    text-align: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: black;
}


.container {
    /* position: absolute; */
    display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    /* right: 0; */
    padding: 0, 10;
    justify-content: space-around;

}



.mainNavigation {
    /* position: absolute;
    left: 0; */
    /* width: 940px; */
    padding: 0;
    margin: 0;
    left: 0;
    display: flex;
    font-size: 16px;
    font-weight: 1.2;
}

.mainNavigation:first-child {
    padding-left: 0;
}

.navPoint {
    line-height: 1;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-decoration: none;

    vertical-align: -webkit-baseline-middle;
}

/* .navPoint:first-child{
    padding-left: 0;
} */
.UserBlock {
    width: 65px;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;


}

.mainContainer {
    margin: 0;

    justify-content: center;

}



.login {
    text-decoration: none;
    color: white;

}


.indexLogo {
    width: 940px;
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.features {
    /* position: absolute; */
    width: 940px;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
}

.featuresItem {

    max-width: 290px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 1.2;
    line-height: 150%;

}

.featuresItem:last-child {
    margin-right: 10px;
}


.featuresName {
    text-align: center;
    margin-bottom: 17px;
    font-size: 30px;
    font-weight: 1.2;
}

.img {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.featuresText {
    text-align: center;
    margin-top: 17px;
}

.indexContent {
    display: flex;
    width: 940px;
    height: 420px;
    margin: 0;

    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.7;
    background-image: url(../img/Layer.png);
}


.indexContentLeft {
    width: 350px;
    margin-left: 80px;
    margin-right: auto;
    text-decoration: none;
    marker: none;
    font-weight: 24px;
}

.newsPoint {
    list-style: none;
}

.list {
    padding: 0;
    margin-bottom: 60px;
}


.btn {

    box-sizing: border-box;

    width: 140px;
    height: 45px;
    margin: 0;
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    background-color: black;
    font-family: 'PT Sans Narrow';
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    border: none;
}



.newsPoint {

    text-decoration: none;
}

.lastNews {
    margin-bottom: 0;
}

.indexContentRight {

    width: 340px;
    margin-left: auto;
    margin-right: 26px;

}

.indexContentRight>p {
    width: 300px;
}

.indexContentTitle {
    width: 300px;
    font-size: 30px;
    text-transform: uppercase;
}

.galleryContent {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;

}



.contact {
    margin: 0;
    font-weight: 1.7;

}

.btnBox {
    display: flex;
    margin-top: 60px;

}

/* .btnContact{
box-sizing: border-box;
width: 140px;
height: 45px;
margin-right: 20px;
background-color: black;


text-align: center;
color: white;
text-decoration: none;
text-transform: uppercase;

} */
.indexContentTittle {}

.oppointmentForm {
    box-sizing: border-box;
    width: 350px;
    margin-left: auto;
    margin-right: 0;

}

/* .formContainer {
    display:flex ;
    width: 300px;
    justify-content: space-between; */

.formItem {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border: 2px solid #000;

    margin-right: 20px;
    margin-bottom: 20px;
    /* margin-right: auto; */
    box-sizing: border-box;

    width: 140px;
    height: 45px;


}

.formItem:hover {
    border-color: rgb(102, 61, 21);
}

.formItem:focus {
    border-color: rgb(102, 61, 21);
}



.sendBtn {
    box-sizing: border-box;

    width: 300px;
    height: 45px;
    margin: 0;
    margin-top: 36px;
    margin-right: auto;

    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    justify-content: center;
    background-color: black;
    font-family: 'PT Sans Narrow';
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 1;
}

footer {

    margin: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: auto;
    height: 190px;
    color: white;
    text-align: center;
    justify-content: center;


    background-color: rgb(34, 34, 34);
}

.footerContacts {
    padding-left: 10px;
    width: 300px;
    margin-left: 0;
    text-align: start;
    line-height: 1.2;
}

.footerSocial {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-transform: uppercase;


}





.footerCopiright {
    padding-right: 10px;
    width: 300px;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    text-align: end;

}

.smile {

    margin-right: auto;
    margin-left: auto;
}

.bodyPages {
    height: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    background-color: rgb(250, 247, 242);
    font-family: 'PT Sans Narrow', sans-serif;
}

.logoImg {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.containerOther {
    padding-left: 10px;
    margin: 0;
    max-width: 960px;

    margin-right: auto;
    margin-left: auto;

}


.shopTitle {
    margin: 0;
    padding-top: 60px;
    margin-bottom: 25px;
    text-transform: uppercase;
}


.shopSection {
    font-size: 14px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.imgShape {
    margin-left: 16px;
    margin-right: 16px;
}

.bag {
    display: flex;
}

.bagGal {
    width: 500px;
    margin: 0;

    margin-right: auto;
    margin-left: -10px;



}

.travelKit {
    text-decoration: none;
    color: black;
}

.description {

    width: 390px;
    margin: 0;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.2;

}

.descriptionTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.article {
    color: rgb(183, 183, 183);
}

.buying {
    box-sizing: border-box;
    width: 190px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    background-color: rgb(229, 229, 229);
    justify-content: space-between;

}

.price {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.btnPrice {
    width: 80px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.complect {
    margin-top: 53px;
}

.complectItem {
    margin: 0;
    margin-top: 40px;


}

.complectImgShape {
    margin: 0;
    margin-right: 10px;
}




/* careProdaction
careProdaction
careProdaction
careProdaction
careProdaction */



.careContainer {

    display: flex;

}

.filterContainer {
    max-width: 960px;
    margin: 0;
    display: flex;


}

.filter {
    margin-right: auto;
    width: 180px;
}


.filterTitle {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
}

.producerBtn {
    line-height: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.producerCheckbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.producerCheckboxFake {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #000;

}

.producerCheckbox:checked+.producerCheckboxFake {
    background-image: url(../img/smallKrestik.png);
    background-size: cover;
}

.producerBtn:hover {

    color: rgb(102, 61, 21);
}

.radio {
    display: block;
    cursor: pointer;
}

.radio+.radio {
    margin-top: 15px;
}

.radio_real {
    width: 1;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}


.radio_fake {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 50%;
}


/* .radio {
}
.radio_real {
}
.radio_fake {
} */
.radio_real:checked+.radio_fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #3c3c3c;
    transform: translate(-50%, -50%);
}

.radio_real:checked~.radio_title {
    font-weight: 500;
}


.radio_title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000;
}

/* .radio_title {
} */
.filterBtn {
    box-sizing: border-box;

    width: 110px;
    height: 45px;
    margin: 0;
    /* margin-left: auto; */
    margin-right: auto;
    margin-top: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    justify-content: center;
    background-color: black;
    font-family: 'PT Sans Narrow';
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 1;
}


.goods {
    position: static;
    margin: 0;
    /* margin-right: 0; */
    padding-right: 0;
    margin-left: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 770px;

    justify-content: space-between;

}

.good {
    width: 220px;
    height: 285px;
    margin: 0;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 1px 1px 10px 1px #777777;
    background-color: white;
}




.goodsName {
    font-size: 14;
    text-transform: none;
    padding-left: 15px;
    padding-top: 3px;
}

.buyGoods {
    box-sizing: border-box;
    width: 190px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    background-color: rgb(229, 229, 229);
    justify-content: space-between;
}

.goodsList {
    box-sizing: border-box;
    margin-left: 27px;
    margin-top: 40px;
    /* width: 150px; */
    height: 40px;

}

.goodsCheckbox {
    width: 1;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
    background-color: #fff;


}

.goodsBtn {
    flex-grow: 1;
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: none;

    text-align: center;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 40px;
    color: white;
    background-color: black;
    cursor: pointer;

}

.goodsBtn:focus {
    background-color: white;
    color: black;
}

/* Style of Price */
/* Style of Price */
/* Style of Price */
/* Style of Price */



.priceTitle {
    margin-top: 50px;
    position: relative;
    padding-top: 24px;

}

.line {
    height: 2px;
    background-color: black;

}

.textPriceTitle {

    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    left: 20.6%;
    background-color: rgb(250, 247, 242);

    font-size: 48px;
}

.priceInfo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 15px;

}

.infoLeft {
    width: 390px;
}

.infoTitle {
    font-size: 24px;
    font-weight: 1.25;
}

.infoMaterials {
    margin-top: 24px;
}


.infoAboutUs {
    margin-top: 60px;
}

.infoText {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.7;
}

.infoRight {
    width: 460px;
    margin-left: 90px;
}

.priceTable {}

.table {
    width: 460px;
    margin-top: 30px;
    border-collapse: collapse;
    justify-content: center;
    vertical-align: center;
}

td {
    /* box-sizing: border-box; */
    /* margin: 0;
    padding: 0; */
    padding-top: 14px;
    padding-bottom: 14px;
    width: 233px;
    border: 1px solid #000;
    text-align: center;
}

.leftColumn {
    text-align: left;
    padding-left: 10px;
}

.infoTextRight {
    width: 380px;
    margin: 0;
    margin-top: 95px;
    font-size: 14px;
    line-height: 1.7;
}

/* Pagea adaptation */
/* Pagea adaptation */
/* Pagea adaptation */
/* Pagea adaptation */
/* Pagea adaptation */

.mobNavigation {
    margin: 0;
    position: fixed;
    top: 0px;

    left: -180px;
    width: 180px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    text-align: left;
    background-color: rgba(102, 62, 21, 0.698);
    transition: all 0.2s ease-in;

}

.mobNavigationActive {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in;
}

.mobContainerActive {
    padding: 0;
    position: fixed;
    right: -50px;
    top: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.027);
    border-radius: 4px;
    background-color: rgba(102, 62, 21, 0.644);

}

.menuIcon {
    /* display: none; */
    width: 40px;
    height: 6px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 4px;
    margin-right: 3px;
    background-color: black;

    border-radius: 1px;
}

.menuIcon::after {
    width: 40px;
    height: 6px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 12px;
    left: 0px;
    content: "";

    background-color: black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;


    /* background-color: black; */
}

.menuIcon::before {
    width: 40px;
    height: 6px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -12px;
    left: 0px;
    content: "";

    background-color: black;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menuIcon.menuIconActive {
    background-color: transparent;

}

.menuIcon.menuIcon.menuIconActive::after {

    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menuIcon.menuIcon.menuIconActive::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


@media (max-width:959px) {
    .bodyPages {
        width: 959px;
    }

    .mainBody {
        width: 959px;

    }

}

@media (max-width:800px) {
    .featuresText {
        font-size: 16px;
    }
}

.none {
    display: none;
}


.mobContainer {
    margin: 0;
    margin-top: 25px;
    margin-left: 30px;
}



.logoImg {
    margin-left: 0;
}

.mobNavPoint {
    font-size: 18px;
    padding: 0;
    text-decoration: none;
    color: white;
}

.mobUserBlock {
    margin-top: 40px;
    margin-bottom: 20px;
}

.login>img {
    margin-right: 10px;
    padding: 0;
    vertical-align: baseline;

}

.login {}

.mobUl {
    padding: 0;
}

@media(max-width:560px) {
    .none {
        display: none;
    }

    .mobContainerActive {
        position: fixed;
        right: 8px;
        top: 8px;
    }

    /* body {
        width: 368px;
    } */
    .featuresItem:last-child {
        margin-left: auto;
        margin-right: auto;
    }

    .features {
        margin-top: 10px;
        margin-bottom: 15px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .featuresItem {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .featuresItem>img {
        display: none;
    }

    .featuresText {
        margin-top: 0;

        font-size: 12px;
    }

    .container {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 368px;
    }

    .mainBody {
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: 0;
        justify-content: center;
    }

    .mainHeader {
        height: 0;
        display: none;
    }

    .mainContainer {
        width: 100%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        background-position: center;


        /* margin-left: auto; */
        /* margin-right: auto; */



        justify-content: center;
    }

    /* 
    .mobNavigation {
        
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(102, 62, 21, 0.897);
    } */

    .indexLogo {
        width: 368px;
        margin-top: 30px;
    }

    .list {
        margin-bottom: 15px;
    }

    .features {
        flex-direction: row;
        width: 368px;


    }

    .indexContent {
        margin-top: 0;
        flex-direction: column;
        flex-wrap: wrap;
        width: 368px;
        height: auto;
        justify-content: center;
    }

    .indexContentLeft {
        margin: 0;
        margin-left: 10px;
    }

    .lastNews {
        width: auto;
        height: auto;

    }

    .indexContentRight {
        width: 348px;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .gallery {
        margin-left: auto;
        margin-right: auto;
    }

    .galleryContent {
        margin-bottom: 30px;
        width: 348px;
        justify-content: center;
        align-items: center;
    }

    .galleryContent>img {
        margin-left: 31px;
    }

    .btnHover {
        margin: 0;
    }

    .indexContentTitle {
        margin-right: auto;
    }

    .btnBox {
        margin-top: 30px;
        justify-content: space-around;
    }

    .btnGalleryPrev {
        margin-left: 31px;
    }

    .oppointmentForm {
        justify-content: space-around;
        align-items: center;

    }

    .formItem {
        margin-left: 20px;
        margin-right: 50px;
    }

    .sendBtn {
        width: 140px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .mainFooter {
        margin: 0;
        width: 348px;
        margin-left: auto;
        margin-right: auto;
        /* height: 370px; */
        background-color: black
    }

    .container {
        width: 348px;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 10px;
        /* flex-direction: column; */
        flex-wrap: wrap;
        height: auto;
        background-color: black;
    }

    .footerSocial {
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .footerCopiright {
        margin-top: 0;
        width: auto;
    }
}

/* .price */
/* .price */
/* .price */
/* .price */
/* .price */

@media(max-width:560px) {
    .mainFooter {
        position: absolute;
        padding: 0;
        margin: 0;
        right: 5px;
        left: 5px;
        justify-content: center;
    }

    .container {
        position: absolute;
        padding: 0;
        margin: 0;
        padding-left: 5px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
    }

    .footerContacts>p {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: transparent;
    }

    .bodyPages {
        width: 348px;
    }

    .containerOther {
        width: 348px;
    }

    .shopTitle {
        font-size: 28px;
        width: 328px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    .priceContainer {
        width: 348px;
        flex-direction: column;

    }

    .line {
        display: none;
    }

    .priceTitle {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 328px;
    }

    .textPriceTitle {

        position: relative;
        padding: 0;
        left: 0;
        font-size: 24px;
    }

    .infoMaterials {
        width: 328px;
    }

    .infoLeft {
        width: 328px;
    }

    .infoTitle {
        margin-top: 15px;
        font-size: 18px;
    }

    .priceInfo {
        margin-top: 0;
        width: 328px;
        flex-direction: column;
    }

    .infoRight {
        width: 328px;
        margin-left: 0;
    }

    .table {
        width: 328px;
    }

    .leftColumn {
        width: 60%;
    }

    .rightColumn {
        width: 40%;
    }



}


/* loginForm */
/* loginForm */
/* loginForm */
/* loginForm */
/* loginForm */

.loginForm {
    width: 348px;
    height: 320px;
    position: fixed;
    left: 38%;
    right: auto;
    top: 20%;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 20px 2px rgb(34, 34, 34);

}

.loginTitle {
    text-align: center;
}

.form>p {
    text-align: center;
}

.inputLogin {
    width: 250px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.inputLogin:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto 0;
    width: 25px;
    height: 25px;
    background: url(../img/loginIcon.png) no-repeat;
    background-size: cover;
}

.loginInput {
    width: 100%;
    height: 30px;
}

.InputPassword {
    width: 250px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
}

.InputPassword:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto 0;
    width: 25px;
    height: 25px;
    background: url(../img/passwordIcon.png) no-repeat;
    background-size: cover;
}

.passwordInput {
    width: 100%;
    height: 30px;
}


.loginOptions {
    width: 250px;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 12px;
    
    
}
.rememberMe {
    width: 120px;
    cursor: pointer;
}




.rememberCheckbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.rememberCheckboxFake {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    border: 2px solid #000;

}

.rememberCheckbox:checked+.rememberCheckboxFake {
    background-image: url(../img/smallKrestik.png);
    background-size: cover;
}
.rememberBtn {
    
    cursor: pointer;
}
.rememberBtn:hover {

    color: rgb(102, 61, 21);
}

.missPas {
    margin-left: auto;
    cursor: pointer;
}

.InLogin {
    height: 45px;
    width: 250px;
    margin-top: 30px;
    margin-left: 49px;
    background-color: black;
    color: white;
}

.closeLogin {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.reg {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: black;
    margin-left: 147px;
}
   .loginForm {
       display: none;
   }