body{
    
    margin: 0;
}
.body {
    /* display: flex; */
    
  margin-left: auto;
  margin-right: auto;
    background: url(../img/tint.jpg ) ;
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
    
}
 p{
     text-transform: uppercase;
 }


.mainHeader {
/* position: relative; */
display: flex;
margin-left: auto;
margin-right: auto;
margin: 0;
width: auto;
height: 65px;

text-align:center;
justify-content:center;
background-size: cover;
background-position: center;
background-color: black;
}
.container {
/* position: absolute; */
     display: flex;
     width: 940px;
    margin:0, auto;
    /* right: 0; */ 
    padding: 0, 10;
    justify-content: space-between;
    
}
.mainNavigation {
    /* position: absolute;
    left: 0; */
    padding: 0;
    margin: 0;
    left: 0;
    display: flex;
    font-size: 16px;
    font-weight: 1.2;
}
.mainNavigation:first-child{
    padding-left: 0;
}
.navPoint{
    
    color: white;
    text-decoration: none;
}
.navPoint:first-child{
    padding-left: 0;
}
.UserBlock {
    right: 0; 
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}
.mainContainer{
    margin: 0;
    
    justify-content: center;

}
.login {
     text-decoration: none;
    color: white;
   
}
.indexLogo {
    width: 940px;
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.features {
    /* position: absolute; */
    width: 940px;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
}
.featuresItem {
   
    max-width: 290px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 1.2;
    line-height: 150%;
   
}
.featuresItem:last-child{
    margin-right: 10px;
}


.featuresName {
    text-align: center;
    margin-bottom: 17px;
    font-size: 30px;
    font-weight: 1.2;
}
.img {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.featuresText {
   text-align: center;
margin-top: 17px;
}
.indexContent {
    display: flex;
    width: 940px;
    height: 420px;
    margin: 0;
   
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height:1.7 ;
    background-image: url(../img/Layer.png);
}


.indexContentLeft {
    width: 350px;
    margin-left:64px;
    margin-right: auto;
    text-decoration: none;
    marker: none;
    font-weight: 24px;
    }

.newsPoint{
    list-style: none;
    }

.list{
    padding: 0;
    margin-bottom: 60px;
}    
.btn { 
    
    box-sizing: border-box;
      
    width: 140px;
    height: 45px;
    margin: 0;
   margin-left: 0;
    margin-right: 8px;
    margin-bottom: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align:center;
    background-color: black;
   font-family: 'PT Sans Narrow';
     text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    border: none;
}


/* .btnText{
    width: 140px;
    height: 45px;
    margin: 0;
    justify-content: center;
    background-color: black;
    
} */
.newsPoint {
    
    text-decoration: none;
}
.lastNews {
   margin-bottom: 0;
}

.indexContentRight {
    
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     
}

.indexContentTitle {
    font-size: 30px;
    text-transform: uppercase;
}

.galleryContent {
    padding: 0;
    margin: 0;
    margin-bottom:  60px; 
    
}
/* .btnGalleryPrev {
  
    box-sizing: border-box;
    
    
    width: 140px;
    height: 45px;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
   
    background-color: black;
   
     text-decoration: none;
    text-transform: uppercase;
    color: white;
} */
/* .btnGalleryNext {
    box-sizing: border-box;
    
    width: 140px;
    height: 45px;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
    background-color: black;
   
     text-decoration: none;
    text-transform: uppercase;
    color: white;
} */

.contact{
    margin: 0;
    font-weight: 1.7;
    
}
.btnBox{
    display: flex;
    margin-top: 60px;
    
}
/* .btnContact{
box-sizing: border-box;
width: 140px;
height: 45px;
margin-right: 20px;
background-color: black;


text-align: center;
color: white;
text-decoration: none;
text-transform: uppercase;

} */
.indexContentTittle {
}
.oppointmentForm {
    box-sizing: border-box;
    width: 350px;
    margin-left: auto;
    margin-right: 0;
    
}
/* .formContainer {
    display:flex ;
    width: 300px;
    justify-content: space-between; */

.formItem {
    margin: 0;
    padding: 0;

    
    margin-bottom: 20px;
    /* margin-right: auto; */
    box-sizing: border-box;
    border:1px solid #000000;
    width: 140px;
    height: 45px;
    
    
}


.sendBtn {
    box-sizing: border-box;
      
    width: 300px;
    height: 45px;
    margin: 0;
    /* margin-left: auto; */
    margin-right: auto;
    /* margin-right: 20px; */
    padding-top: 14px;
    padding-bottom: 14px;
    text-align:center;
    justify-content: center;
    background-color: black;
   font-family: 'PT Sans Narrow';
     text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 1;
}

.mainFooter {
    margin: 0;
    display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 65px;
width: auto;
height: 190px;
color: white;
text-align:center;
justify-content:center;


background-color: rgb(34, 34, 34) ;
}
.footerContacts {
    width: 300px;
    margin-left: 40px;
    text-align: start;
    line-height: 1.2;
    }
}
.footerSocial {
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;


}
.btnVk {
}
.btnFb {
}
.btnVInst {
}
.footerCopiright {
    width: 300px;
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: 40px;
    text-align: end;
    
}